<div class="container">
  <div class="row">
    <%= link_to "New question bank", new_question_bank_path %>
  </div>
  <div class="row">
      <%= link_to "Question bank list", question_banks_path %>
  </div>
  <div class="row">
    <%= link_to "New category", new_category_path %>
  </div>
  <div class="row">
    <%= link_to "Category list", categories_path %>
  </div>
</div>
