@import "bootstrap";


body {
  .container-fluid {
    margin: 30px 0 0;
  }
}
h1 {
  text-align: center;
}

.question-label {
  margin: 30px 0 0;
  font-size: 20px;
}

.answer-field {
  margin: 0 0 0 30px;
}

.answer-label {
  margin: 10px 0 0;
}
